body {
    background: url('../imagenes/Fondo-Compradores2.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

